{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4 fw-bold mb-4">Bienvenue dans votre bibliothèque virtuelle</h1>
        <p class="lead">Explorez notre collection et découvrez de nouveaux mondes à travers les livres.</p>
    
    </div>
{% endblock %}
