{% extends 'base.html.twig' %}

{% block title %}Ajouter un Auteur{% endblock %}

{% block body %}
    <h1>Ajouter un Auteur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_auteur_index') }}">Retour à la liste des auteurs</a>
{% endblock %}